html.freeze > body {
  pointer-events: none;
}

html.freeze {
  overflow: auto;
  overscroll-behavior-x: contain;
}

html.freeze svg {
  pointer-events: none;
}

html.freeze #react-scan-toast {
  pointer-events: auto;
}

#react-scan-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.01);
  backdrop-filter: blur(94px) saturate(180%);
  animation-duration: 300ms;
  opacity: 0;
  pointer-events: none;
  transition: opacity 500ms;
  z-index: 2147483650;
}

#react-scan-toast {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  padding: 12px 40px 12px 16px;
  min-width: 320px;
  max-width: 480px;
  color: #fff;
  font-size: 12px;
  font-family: Menlo, Consolas, Monaco, 'Liberation Mono', 'Lucida Console', monospace;
  line-height: 1.5;
  background: rgba(0, 0, 0, 0.95);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
  transition: opacity 300ms ease-in-out;
  z-index: 2147483651;
}

#react-scan-toast-title {
  margin: 0 0 8px 0;
}

#react-scan-toast-message {
  display: flex;
  align-items: flex-start;
}

#react-scan-toast-message span {
  white-space: pre-line;
}

#react-scan-toast .icon {
  font-size: .75rem;
  margin-right: 8px;
}

@media (max-width: 320px) {
  #react-scan-toast {
    flex-direction: column;
    min-width: auto;
    width: calc(100% - 36px);
  }
}

@media (max-width: 720px) {
  br {
    display: none;
  }
}

#react-scan-toast-close-button {
  position: absolute;
  top: 10px;
  right: 8px;
  display: flex;
  align-items: center;
  width: 23px;
  height: 23px;
  padding: 4px;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.01);
  transition: background-color 300ms ease;
}

#react-scan-toast-close-button:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
