.react-scan-default-font {
  font-family: Menlo, Consolas, Monaco, 'Liberation Mono', 'Lucida Console', monospace;
}

#react-scan-toolbar {
  flex-direction: row !important;
  opacity: 0;
  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
}

#react-scan-toolbar #react-scan-toolbar-content {
  transition: opacity 300ms ease-in-out;
}
